%%-*- mode: erlang -*-
{eunit_opts, [verbose]}.
{xref_checks, [undefined_function_calls]}.
{erl_opts, [warnings_as_errors, {parse_transform, lager_transform}, debug_info]}.

{deps, [
        {lager, "3.2.1"},
        {cuttlefish, "2.0.7"}
       ]}.

{pre_hooks, [
             {"(linux|darwin|solaris)", compile, "make"},
             {"(freebsd)", compile, "gmake"},
             {"(linux|darwin|solaris)", compile, "make -C c_src"},
             {"(freebsd)", compile, "gmake -C c_src"}
            ]}.

{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.

{overrides,
 [{override, eleveldb, [{artifacts, ["priv/eleveldb.so"]}]}]}.
